.App {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html body {
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  background-image: url('bg.png');
  background-size: 85%;
  background-position: center;
  overflow: hidden;
}

.container {
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 2rem;
  color: #333;
}

.sun {
  --sun-left: calc(-10vw);
  --sun-top: 50%;
  
  height: 20vw;
  width: 20vw;
  position: fixed;
  left: var(--sun-left);
  top: var(--sun-top);
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-50%);
  max-height: 350px;
  max-width: 350px;
  min-height: 150px;
  min-width: 150px;
  background-image: url('sun.png');
  background-size: cover;
  background-position: center;
  z-index: 1000;
  cursor: pointer;
}
.mercury {
  --mercury-center: translate(-50%, -50%);
  --mercury-orbit-radius: translateX(280px);

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 75px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  background-image: url('Mercury.png');
  background-size: cover;
  background-position: center;

  transform: var(--mercury-center) rotate(-15deg) var(--mercury-orbit-radius);

  animation: orbitMercury 120s linear infinite;
}

@keyframes orbitMercury {
  0% {
    transform: var(--mercury-center) rotate(-15deg) var(--mercury-orbit-radius);
  }
  25% {
    transform: var(--mercury-center) rotate(90deg) var(--mercury-orbit-radius);
  }
  50% {
    transform: var(--mercury-center) rotate(0deg) var(--mercury-orbit-radius);
  }
  75% {
    transform: var(--mercury-center) rotate(-90deg) var(--mercury-orbit-radius);
  }
  100% {
    transform: var(--mercury-center) rotate(-15deg) var(--mercury-orbit-radius);
  }
}
.mercury_orbit {
  position: fixed; 
  top: 50%; 
  left: calc(-280px); 
  width: 560px; 
  height: 560px; 
  background-color: transparent; 
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 50%; 
  transform: translateY(-50%); 
}

.venus {
  --venus-center: translate(-50%, -50%);
  --venus-orbit-radius: translateX(375px);

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 105px;
  height: 105px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  background-image: url('Venus.png');
  background-size: cover;
  background-position: center;

  transform: var(--venus-center) rotate(0deg) var(--venus-orbit-radius);

  animation: orbitVenus 153s linear infinite;
}

@keyframes orbitVenus {
  0% {
    transform: var(--venus-center) rotate(0deg) var(--venus-orbit-radius);
  }
  25% {
    transform: var(--venus-center) rotate(90deg) var(--venus-orbit-radius);
  }
  50% {
    transform: var(--venus-center) rotate(0deg) var(--venus-orbit-radius);
  }
  75% {
    transform: var(--venus-center) rotate(-90deg) var(--venus-orbit-radius);
  }
  100% {
    transform: var(--venus-center) rotate(0deg) var(--venus-orbit-radius);
  }
}
.venus_orbit {
  position: fixed; 
  top: 50%;
  left: calc(-375px);
  width: 750px;
  height: 750px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%; 
  transform: translateY(-50%); 
}
.earth {
  --earth-center: translate(-50%, -50%);
  --earth-orbit-radius: translateX(500px);

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 145px;
  height: 145px;
  background-color: rgba(0, 123, 255,0);
  border-radius: 50%;
  cursor: pointer;
  background-image: url('Earth.png');
  background-size: 75%; /* Ensure the full image, including rings, is visible */
  background-repeat: no-repeat; /* Prevent tiling of the background image */
  background-position: center center;

  transform: var(--earth-center) rotate(0deg) var(--earth-orbit-radius);

  animation: orbitEarth 216s linear infinite;
}

@keyframes orbitEarth {
  0% {
    transform: var(--earth-center) rotate(0deg) var(--earth-orbit-radius);
  }
  25% {
    transform: var(--earth-center) rotate(48deg) var(--earth-orbit-radius);
  }
  50% {
    transform: var(--earth-center) rotate(0deg) var(--earth-orbit-radius);
  }
  75% {
    transform: var(--earth-center) rotate(-48deg) var(--earth-orbit-radius);
  }
  100% {
    transform: var(--earth-center) rotate(0deg) var(--earth-orbit-radius);
  }
}
.earth_orbit {
  position: fixed;
  top: 50%; 
  left: calc(-500px); 
  width: 1000px; 
  height: 1000px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  transform: translateY(-50%); 
}
.mars {
  --mars-center: translate(-50%, -50%);
  --mars-orbit-radius: translateX(600px);

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 75px;
  height: 75px;
  background-color: rgb(255, 99, 71);
  border-radius: 50%;
  cursor: pointer;

  transform: var(--mars-center) rotate(0deg) var(--mars-orbit-radius);
  background-image: url('Mars.png');
  background-size: cover;
  background-position: center;

  animation: orbitMars 279s linear infinite;
}

@keyframes orbitMars {
  0% {
    transform: var(--mars-center) rotate(0deg) var(--mars-orbit-radius);
  }
  25% {
    transform: var(--mars-center) rotate(38deg) var(--mars-orbit-radius);
  }
  50% {
    transform: var(--mars-center) rotate(0deg) var(--mars-orbit-radius);
  }
  75% {
    transform: var(--mars-center) rotate(-38deg) var(--mars-orbit-radius);
  }
  100% {
    transform: var(--mars-center) rotate(0deg) var(--mars-orbit-radius);
  }
}
.mars_orbit {
  position: fixed; 
  top: 50%;
  left: calc(-600px);
  width: 1200px; 
  height: 1200px;
  background-color: transparent; 
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 50%; 
  transform: translateY(-50%); 
}
.jupiter {
  --jupiter-center: translate(-50%, -50%);
  --jupiter-orbit-radius: translateX(775px);

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 180px;
  height: 180px;
  background-color: rgb(205, 133, 63);
  border-radius: 50%;
  cursor: pointer;
  background-image: url('Jupiter.png');
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  transform: var(--jupiter-center) rotate(0deg) var(--jupiter-orbit-radius);

  animation: orbitJupiter 342s linear infinite;
}

@keyframes orbitJupiter {
  0% {
    transform: var(--jupiter-center) rotate(0deg) var(--jupiter-orbit-radius);
  }
  25% {
    transform: var(--jupiter-center) rotate(30deg) var(--jupiter-orbit-radius);
  }
  50% {
    transform: var(--jupiter-center) rotate(0deg) var(--jupiter-orbit-radius);
  }
  75% {
    transform: var(--jupiter-center) rotate(-30deg) var(--jupiter-orbit-radius);
  }
  100% {
    transform: var(--jupiter-center) rotate(0deg) var(--jupiter-orbit-radius);
  }
}

.jupiter_orbit {
  position: fixed; 
  top: 50%; 
  left: calc(-775px);
  width: 1550px;
  height: 1550px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  transform: translateY(-50%); 
}
.saturn {
  --saturn-center: translate(-50%, -50%);
  --saturn-orbit-radius: translateX(975px);
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(218, 165, 32,0);
  border-radius: 50%;
  cursor: pointer;
  background-image: url('Saturn.png');
  background-size: 85%; /* Ensure the full image, including rings, is visible */
  background-repeat: no-repeat; /* Prevent tiling of the background image */
  background-position: center center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  transform: var(--saturn-center) rotate(0deg) var(--saturn-orbit-radius);

  animation: orbitSaturn 405s linear infinite;
}
@keyframes orbitSaturn {
  0% {
    transform: var(--saturn-center) rotate(0deg) var(--saturn-orbit-radius);
  }
  25% {
    transform: var(--saturn-center) rotate(23deg) var(--saturn-orbit-radius);
  }
  50% {
    transform: var(--saturn-center) rotate(0deg) var(--saturn-orbit-radius);
  }
  75% {
    transform: var(--saturn-center) rotate(-23deg) var(--saturn-orbit-radius);
  }
  100% {
    transform: var(--saturn-center) rotate(0deg) var(--saturn-orbit-radius);
  }
}
.saturn_orbit {
  position: fixed;  
  top: 50%; 
  left: calc(-975px);  
  width: 1950px;  
  height: 1950px; 
  background-color: transparent; 
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 50%; 
  transform: translateY(-50%); 
  cursor: pointer;
}
.uranus {
  --uranus-center: translate(-50%, -50%);
  --uranus-orbit-radius: translateX(1125px);  

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 125px;
  height: 125px;
  background-color: rgba(173, 216, 230,0); 
  border-radius: 50%;
  cursor: pointer;
  background-image: url('Uranus.png');
  background-size: 75%; /* Ensure the full image, including rings, is visible */
  background-repeat: no-repeat; /* Prevent tiling of the background image */
  background-position: center center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  transform: var(--uranus-center) rotate(0deg) var(--uranus-orbit-radius);

  animation: orbitUranus 468s linear infinite; 
}

@keyframes orbitUranus {
  0% {
    transform: var(--uranus-center) rotate(0deg) var(--uranus-orbit-radius);
  }
  25% {
    transform: var(--uranus-center) rotate(19deg) var(--uranus-orbit-radius);
  }
  50% {
    transform: var(--uranus-center) rotate(0deg) var(--uranus-orbit-radius);
  }
  75% {
    transform: var(--uranus-center) rotate(-19deg) var(--uranus-orbit-radius);
  }
  100% {
    transform: var(--uranus-center) rotate(0deg) var(--uranus-orbit-radius);
  }
}
.uranus_orbit {
  position: fixed; 
  top: 50%; 
  left: calc(-1125px); 
  width: 2250px; 
  height: 2250px; 
  background-color: transparent; 
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 50%; 
  transform: translateY(-50%); 
}
.neptune {
  --neptune-center: translate(-50%, -50%);
  --neptune-orbit-radius: translateX(1275px); 

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  width: 80px; 
  height: 80px; 
  background-color: rgb(70, 130, 180); 
  border-radius: 50%;
  cursor: pointer;
  background-image: url('Neptune.png');
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  transform: var(--neptune-center) rotate(10deg) var(--neptune-orbit-radius);

  animation: orbitNeptune 531s linear infinite; 
}

@keyframes orbitNeptune {
  0% {
    transform: var(--neptune-center) rotate(10deg) var(--neptune-orbit-radius);
  }
  25% {
    transform: var(--neptune-center) rotate(17deg) var(--neptune-orbit-radius);
  }
  50% {
    transform: var(--neptune-center) rotate(0deg) var(--neptune-orbit-radius);
  }
  75% {
    transform: var(--neptune-center) rotate(-17deg) var(--neptune-orbit-radius);
  }
  100% {
    transform: var(--neptune-center) rotate(0deg) var(--neptune-orbit-radius);
  }
}
.neptune_orbit {
  position: fixed;  
  top: 50%; 
  left: calc(-1275px); 
  width: 2550px; 
  height: 2550px; 
  background-color: transparent; 
  border: 1px solid rgb(255, 255, 255); 
  border-radius: 50%; 
  transform: translateY(-50%); 
}
.popup_sun{
  position: absolute;
  width: 800px;
  height: 450px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color:#0a0f23;
  color: white;
  padding: 20px;
  border: 2px solid #0a0f23;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.popup_sun h2 {
  margin: 0;
  font-size: 1.5rem;
}
.popup_sun p {
  font-size: 1rem;
}
.nico {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto; 
}
.intro{
  text-align: left;
  position: absolute;
  top: 10%;
  left: 3%;
  line-height: 2;
  text-align: left;
  font-size: 10pt;
}
.close_sun{
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 10px;    
    right: 10px;  
    background-color: transparent;
    color: white;
    border-color: transparent;
    font-size: 15px;
}
.linkedin-icon {
  height: 40px; /* Set consistent height */
  width: 40px;  /* Set consistent width */
  margin: 0; /* Remove unnecessary margins */
  display: block; /* Prevent inline alignment issues */
}
.linkedin img{
  display: block;
}

.linkedin-content {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding-left: 10px; 
  width: 100%; 
}
.linkedin {
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #191b40;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  display: flex; /* Flex layout for alignment */
  align-items: center; /* Vertical alignment */
  justify-content: flex-start; /* Ensure items align left */
  padding-left: 10px; /* Space between edge and content */
  gap: 30px; /* Space between icon and text */
  top: 20%;
  right: 5%;
}

.linkedin:hover {
  background-color: #21234a;
  color: white;
}
.linkedin-font{
  font-family: 'Roboto Mono', monospace;
  font-size: 15pt;
  color: #0a0f23;
  font-weight: bold;
}
.github-icon{
  height: 60px; /* Set consistent height */
  width: 60px;  /* Set consistent width */
  margin: -10px; /* Remove unnecessary margins */
  display: block; /* Prevent inline alignment issues */
}
.github img{
  display: block;
}
.github-content {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding-left: 10px; 
  width: 100%; 
}
.github{
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #191b40;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  display: flex; /* Flex layout for alignment */
  align-items: center; /* Vertical alignment */
  justify-content: flex-start; /* Ensure items align left */
  padding-left: 10px; /* Space between edge and content */
  gap: 30px;
  top: 35%;
  right: 5%;
}
.github:hover {
  background-color: #21234a;
  color: white;
}
.github-font{
  font-family: 'Roboto Mono', monospace;
  font-size: 15pt;
  color: #0a0f23;
  font-weight: bold;
}
.contact-icon{
  height: 40px; /* Set consistent height */
  width: 40px;  /* Set consistent width */
  margin: 5px; /* Remove unnecessary margins */
  display: block; /* Prevent inline alignment issues */
}
.contact img{
  display: block;
}
.contact-content {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding-left: 10px; 
  width: 100%; 
}
.contact{
  cursor: pointer;
  position: absolute;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #191b40;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  display: flex; /* Flex layout for alignment */
  align-items: center; /* Vertical alignment */
  justify-content: flex-start; 
  gap: 24px;
  top: 50%;
  right: 5%;
}
.contact:hover {
  background-color: #21234a;
  color: white;
}
.contact-font{
  font-family: 'Roboto Mono', monospace;
  font-size: 15pt;
  color: #0a0f23;
  font-weight: bold;
}
.stack {
  position: relative;
  display: flex; /* Use flex if you want multiple figures side-by-side */
}
.react{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -4%; /* Moves the entire figure to the left by 5% */
  margin-top: 90px;
}
.reactfig{
  width: 55px;
  height: 55px;   
  object-fit: contain;
}
.html{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -9%; /* Moves the entire figure to the left by 5% */
  margin-top: 85px;
}
.htmlfig{
  width: 60px;
  height: 60px;   
  object-fit: contain;
}
.css{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -14%; /* Moves the entire figure to the left by 5% */
  margin-top: 85px;
}
.cssfig{
  width: 60px;
  height: 60px;   
  object-fit: contain;
}
.java{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -19%; /* Moves the entire figure to the left by 5% */
  margin-top: 85px;
}
.javafig{
  width: 60px;
  height: 60px;   
  object-fit: contain;
}
.python{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -24%; /* Moves the entire figure to the left by 5% */
  margin-top: 85px;
}
.pythonfig{
  width: 60px;
  height: 60px;   
  object-fit: contain;
}
.rstudio{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -28%; /* Moves the entire figure to the left by 5% */
  margin-top: 85px;
}
.rstudiofig{
  width: 60px;
  height: 60px;   
  object-fit: contain;
}
.git{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -32%; /* Moves the entire figure to the left by 5% */
  margin-top: 85px;
}
.gitfig{
  width: 60px;
  height: 60px;   
  object-fit: contain;
}
.android_studio{
  text-align: center; /* Center aligns text below each image */
  position: relative;
  left: -37%; /* Moves the entire figure to the left by 5% */
  margin-top: 85px;
}
.android_studiofig{
  width: 60px;
  height: 60px;   
  object-fit: contain;
}
.popup_mercury{
  position: absolute;
  width: 800px;
  height: 450px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color:#0a0f23;
  color: white;
  padding: 20px;
  border: 2px solid #0a0f23;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup_mercury h2 {
  margin: 0;
  font-size: 1.5rem;
}

.popup_venus {
  position: absolute;
  width: 800px;
  height: 450px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color:#0a0f23;
  color: white;
  padding: 20px;
  border: 2px solid #0a0f23;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup_venus h2 {
  margin: 0;
  font-size: 1.5rem;
}


.popup_earth{
  position: absolute;
  width: 800px;
  height: 450px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color:#0a0f23;
  color: white;
  padding: 20px;
  border: 2px solid #0a0f23;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.popup_earth h2 {
  margin: 0;
  font-size: 1.5rem;
}

.popup_earth button{
  cursor: pointer;
}

.popup_mars{
  position: absolute;
  width: 800px;
  height: 450px;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color:#0a0f23;
  color: white;
  padding: 20px;
  border: 2px solid #0a0f23;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup_mars h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close_btn{
  cursor: pointer;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 10px;  
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-size: 15px;
}
.test_btn{
  cursor: pointer;
  top: 91%;
  left: 50%;
  position: absolute;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  border-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #191b40;
  border: 1px solid rgba(255, 255, 255,0.1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;
  transform: translate(-50%, -50%);
}
.test_btn:hover {
  background-color: #21234a;
  color: white;
}
.popup_jupiter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup_jupiter h2 {
  margin: 0;
  font-size: 1.5rem;
}

.popup_jupiter p {
  font-size: 1rem;
}

.popup_jupiter button{
  cursor: pointer;
}

.popup_saturn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup_saturn h2 {
  margin: 0;
  font-size: 1.5rem;
}

.popup_saturn p {
  font-size: 1rem;
}

.popup_saturn button{
  cursor: pointer;
}

.popup_uranus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup_uranus h2 {
  margin: 0;
  font-size: 1.5rem;
}

.popup_uranus p {
  font-size: 1rem;
}

.popup_uranus button{
  cursor: pointer;
}

.popup_neptune{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup_neptune h2 {
  margin: 0;
  font-size: 1.5rem;
}

.popup_neptune p {
  font-size: 1rem;
}

.popup_neptune button{
  cursor: pointer;
}
.img{
  width: '24px';
  height: '24px';
  background-color: 'transparent';
  color: transparent;
  position: center;
  display: flex;
}
.show1{
  width: '350px';
  height: '250px';
  background-color: 'transparent';
  color: transparent;
  position: center;
  display: block;
  object-fit: fill;
  border-radius: 10px;
  border-style: solid;
  border-color: #21234a;
  border-width: 5px;

}
.image-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.rectangle {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 45vw;
  height: 50px;
  background-color: #0a0f23;
  z-index: 1000;
  border: 0.5px solid white;
  border-radius: 0px 0px 10px 10px;
  color: white;

  display: flex; /* Enable flexbox */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}